.swatch{
    padding-bottom: 24px;
}
.swatch .header{
    color: #444;
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px;
    margin-bottom: 5px;
}


.swatch input[type="radio"]{ 
  display:none;
}
.swatch label {
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  width: 100%;
  height:48px ;
  margin:0;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 0px 0px 2px #CFCFCF;
  color: #444;
  font-family: 'Josefin Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; 
  white-space:nowrap;
  text-transform:uppercase;
  padding: 0px 8px 0px 20px;
  position: relative;
  transition:none;
  opacity: 1;
}

.swatch label:hover {
    opacity: 1 !important;
}

.swatch input:checked + label {
    box-shadow: 0px 0px 0px 2px #3271B4;
    border-color:transparent;
  } 
  .swatch-element.color label>span{
    text-indent: -9999px;
    position: absolute;
  }

  .option-wrapper-Color{
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: space-between;
  }

  .option-wrapper-Size>div{
    margin-bottom: 8px;
  }


  .swatch  .option-wrapper-Color label{
    min-width:75.25px !important;
    height: 44px !important;
    border-radius: 16px;
    box-shadow: 4.242640018463135px 4.242640018463135px 4px -1px rgba(135, 135, 135, 0.20);
  }

  .swatch  .option-wrapper-Color input:checked + label {
    box-shadow: 0px 0px 0px 2px #3271B4;
  }


  .option-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px; 
    flex-wrap: wrap;
  }

  .option-wrapper div.swatch-element{
    flex: 1;
  }

  .option-wrapper div.swatch-element label{
    text-align: center;
  }

  .option-wrapper-size{
    display: block;
  }

  .option-wrapper-size  div.swatch-element{
    margin-bottom: 8px;
  }
  .option-wrapper-size  div.swatch-element label {
    text-align: left;
}


